.buttonsContainer {
  display: flex;
  background-color: #333;
}

.button {
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
  padding: 13px 25px;
  font-size: 14px;
  border: 0;
  color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button:not(.active):hover {
  background-color: rgba(255, 255, 255, 0.21);
}

.active {
  background-color: #ff6666;
}

.list {
  list-style: initial;
  font-size: 20px;
  color: black;
}

.item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.item img {
  max-height: 32px;
  max-width: 46px;
}
